// // ==== GENERAL ==== //
// 
// Media Queries:
// 1400px
// 1139px
// 1023px
// 900px
// 480px
// 400px

// Media Queries
$mobile-nav-down: 900px;
$desktop-nav-up: 901px;

// Color Palette
// 
$blue: #086db8;
$dark-blue: #004980;
$orange: #f2a33b;

$gray-rule: #b2b2b2;
$light-gray: #e4e4e4;
$lightest-gray: #efede9;
$forms-gray: #d3d3d3;
$dark-gray: #29272a;


$body-font: 'Open Sans', Helvetica, Arial, sans-serif;
$headline-font: 'Montserrat', Helvetica, Arial, sans-serif;

//Fonts
body {
	font-family: $body-font;
}

.page-id-6
 {
	background-color: $lightest-gray;
}

// Helper Classes
.desktop-hidden {
	@media screen and (min-width: $desktop-nav-up){
		display: none !important;
		visibility: hidden;
	}
}
.mobile-hidden {
	@media screen and (max-width: $mobile-nav-down){
		display: none;
		visibility: hidden;
	}
}

