// // ==== Get Started Buttons ==== //
// 

%button {
	display: block;
	padding: 20px;
    padding-left: 110px;
    h3 {
    	margin-bottom: 0px;
    }
    p {
    	margin-bottom: 0;
    	color: black;
    }
}

.clients-button{
	@extend %button;
  	background-color: $orange;
    background-image: 	url('images/clients-icon.png'),
   						url('images/right-arrow.svg');
   	background-position: 5% center, 95% center;
   	background-repeat: no-repeat, no-repeat;


}
.providers-button{
	@extend %button;
	
	background-color: $blue;
    background-image: 	url('images/providers-icon.png'),
   						url('images/right-arrow.svg');
   	background-position: 5% center, 95% center;
   	background-repeat: no-repeat, no-repeat;

}

