// // ==== HEADERS ==== //
// 
// 
// 
// 
.hero {
	margin-top: -141px;
	padding-top: 141px;
}
.home .hero {
	background: $dark-gray url(images/header_home.jpg) no-repeat center top;
	height: 524px;
	position: relative;
	z-index: -99;
	.hero-text {
		width: 500px;
		color: white;

		hr {
			color: $orange;
			width: 142px;
			border-top: 2px solid $orange;
			border-style: solid;
		}
		h1 {
			font-size: 23px;
			color: white;
		}
		.large-word {
			font-size: 76px;
			padding-top: 25px;
			text-transform: uppercase;
			display: inline-block;
		}
		.hero-subtitle{
			font-size: 17px;
		}
		
	}
	@media screen and (max-width: $mobile-nav-down){
		background-position: left top;
		.hero-text {
			margin: 0 auto
		}	
	}
	@media screen and (max-width: $mobile-nav-down){
		background-position: left top;
		.hero-text {
			width: 310px;
			margin: 0 auto
			h1 {
				font-size: 17px;
				color: white;
			}
			.large-word {
				font-size: 50px;
				padding-top: 18px;
			}
		}	
	}
}
//About Page
.page-id-9 .hero {
	background: $dark-gray url(images/header_about.jpg) no-repeat center top;
	height:368px;
	position: relative;
	z-index: -99;
	.hero-text {
		font-size: 43px;
		letter-spacing: .1em;
	}
}
//Contact 
.page-id-10 .hero {
	background-color: $dark-blue;
	.hero-text {
		max-width: 800px;
		margin: 0 auto;
		padding-bottom: 30px;
	}
	.hero-title h1 {
		font-size: 43px;
		color: $orange;
		text-transform: uppercase;
		padding-bottom: 0;
	}
	.hero-subtitle {
		color: #fff;
		font-size: 18px;
	}
	
	hr {
		color: $orange;
		width: 142px;
		border-top: 2px solid $orange;
		border-style: solid;
	}
}
//Mystery Shopping
.page-id-6 .hero {
	background-color: $dark-blue;
	.wrap{
	}
	.hero-text {
		background: $dark-blue url('images/binoculars-large.png') 0 0 no-repeat;
		padding-left: 200px;
		max-width: 800px;
		margin: 0 auto;
		padding-bottom: 30px;
	}
	.hero-title, 
	.hero-title h1 {
		font-size: 43px;
		color: $orange;
		text-transform: uppercase;
		padding-bottom: 0;
	}
	.hero-subtitle {
		color: #fff;
		font-size: 18px;
	}
}
//Customer Satisfaction Survey
.page-id-7 .hero {
	background-color: $dark-blue;
	.wrap{
	}
	.hero-text {
		background: $dark-blue url('images/thumb-large.png') 0 0 no-repeat;
		padding-left: 200px;
		max-width: 800px;
		margin: 0 auto;
		padding-bottom: 30px;
	}
	.hero-title, 
	.hero-title h1 {
		font-size: 43px;
		color: $orange;
		text-transform: uppercase;
		padding-bottom: 0;
	}
	.hero-subtitle {
		color: #fff;
		font-size: 18px;
	}
}

//Audits
.page-id-8 .hero {
	background-color: $dark-blue;
	.wrap{
	}
	.hero-text {
		background: $dark-blue url('images/clipboard-large.png') 0 0 no-repeat;
		padding-left: 200px;
		max-width: 800px;
		margin: 0 auto;
		padding-bottom: 30px;
	}
	.hero-title, 
	.hero-title h1 {
		font-size: 43px;
		color: $orange;
		text-transform: uppercase;
		padding-bottom: 0;
	}
	.hero-subtitle {
		color: #fff;
		font-size: 18px;
	}
}
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// OLD Kickstart bulk overrides
.before-contact, .before-content, .home-top-slider  {
	position: inherit;
}
.header-image .before-contact, .header-image .before-content, .header-image .home-top-slider{
	position: inherit;
	margin-bottom: 0;
}
//
.before-content {
	margin-top: 0;
	height: 355px;
}
#home-top {
	background: $blue url('images/home-top.png') no-repeat center center;
	.widget_text {
		position: relative;
		background-color: transparent;
		left: 43%;
		top: 54px;
		width: auto;
		max-width: 329px;
	}
	.widget_text h1 {
		font-size: 50px;
		line-height: 54px;
		color: $blue;
	}
	.widget_text h1 span {
		color: white;
	}
	.widget_text p {
		color: white;
		margin-top: 15px;
		font-size: 23px;
		padding: 0;
		line-height: 27px;
	}

}
@media screen and (max-width: 900px){
	.before-content {
		height: 300px;
	}
	#home-top {
		background: $blue url('images/home-top-tablet.png') no-repeat center center;
	
		.widget_text {
			left: 10%;
		}
	}

}
@media screen and (max-width: 680px){
	.before-content {
		height: 300px;
	}
	#home-top {
		background: $blue url('images/home-top-tablet.png') no-repeat center center;
	
		.widget_text {
			left: 10%;
		}
	}

}
@media screen and (max-width: 550px){
	.before-content {
		height: 500px;
	}
	#home-top {
		background: $blue url('images/home-top-mobile.png') no-repeat top center;
	
		.widget_text {
			top: 200px;
			left: 0;
		}
	}
}
//Individual Page Headers
//
.banner-strip {
	text-align: center;
	height: 152px;
}
.banner-strip {
	display: table;
	width: 100%;
}
.banner-strip h1 {
	display: table-cell;
	vertical-align: middle;
}
.blog,
.archive,
.single { 
	& .banner-strip h1 {
		font-size: 50px;
		line-height: 40px;
	}
}
//all other pages not specified below will be yellow
.banner-strip {
	background: $orange url('images/header-yellow.png') no-repeat top center;
	h1 {
		color: $blue;
	}
}

.banner-strip span.blog-subtitle {
	font-size: 25px;
	line-height: 25px;
}
//Careers (Red)
.page-id-11 .banner-strip,
.page-id-53 .banner-strip {
	background: $orange url('images/header-red.png') no-repeat top center;
	h1 {
		color: white;
	}
}
//About/Contact (Yellow)
.page-id-12 .banner-strip,
.page-id-392 .banner-strip{
	background: $orange url('images/header-yellow.png') no-repeat top center;
	h1 {
		color: white;
	}
}
//Clients
.page-id-11 .banner-strip{
	background: $orange url('images/header-yellow.png') no-repeat top center;
	h1 {
		color: white;
	}	
}
.blog .banner-strip,
.single .banner-strip,
.archive .banner-strip {
	background: $blue url('images/header-purple.png') no-repeat top center;
	h1 {
		color: white;
	}	
}
// Expertise	
.page-id-9 .banner-strip,
.parent-pageid-9 .banner-strip
 {
	background: $blue url('images/header-green-expertise.png') no-repeat top center;
	h1 {
		color: white;
		max-width: 600px
	}	
}
//Services
.page-id-8 .banner-strip,
.parent-pageid-8 .banner-strip {
	background: $orange url('images/header-yellow-services.png') no-repeat top center;
	h1 {
		color: white;
		max-width: 600px;
	}	
}
// Exam 
.page-id-268 .banner-strip,
.parent-pageid-268 .banner-strip {
	background: $blue url('images/header-purple-exam.png') no-repeat top center;
	h1 {
		color: white;
		max-width: 600px;
	}	
}
//For Providers
.page-id-10 .banner-strip {
	background: $blue url('images/header-green-providers.png') no-repeat top center;
	h1 {
		color: white;
		max-width: 600px;
	}	
}